Andreas Nedbal <git@pixelde.su> <andreas.nedbal@in2code.de>
Andreas Nedbal <git@pixelde.su> <github-bf215181b5140522137b3d4f6b73544a@desu.email>
Balazs Nadasdi <balazs@weave.works> <yitsushi@gmail.com>
Chloe Kudryavtsev <code@toast.bunkerlabs.net> <code@code.bunkerlabs.net>
Chloe Kudryavtsev <code@toast.bunkerlabs.net> <toast+git@toast.cafe>
Chloe Kudryavtsev <code@toast.bunkerlabs.net> <toast@toast.cafe>
Dr. Gutfuck LLC <40531868+gutfuckllc@users.noreply.github.com>
Ehsan Javadynia <31900907+ehsanjavadynia@users.noreply.github.com> <ehsan.javadynia@gmail.com>
Francis Dinh <normandy@biribiri.dev>
Hakaba Hitoyo <tsukadayoshio@gmail.com> Hakaba Hitoyo <example@example.com>
Johann150 <johann.galle@protonmail.com> <johann@qwertqwefsday.eu>
Michcio <public+git@meekchopp.es> <michcio@noreply.akkoma>
Nya Candy <20502130+Candinya@users.noreply.github.com> <dev@candinya.com>
Nya Candy <20502130+Candinya@users.noreply.github.com> <github@lcy.moe>
Skehmatics <skeh@is.nota.live>
Skehmatics <skeh@is.nota.live> <skehmatics@gmail.com>
ThatOneCalculator <kainoa@t1c.dev> <44733677+ThatOneCalculator@users.noreply.github.com>
Weblate <noreply@weblate.org>
Xeltica <7106976+Xeltica@users.noreply.github.com>
YuzuRyo61 <yuzuryo61@yuzulia.com> <cyberman.craft@gmail.com>
YuzuRyo61 <yuzuryo61@yuzulia.com> <yuzuryo61@yuzulia.work>
dependabot[bot] <dependabot[bot]@users.noreply.github.com> <27856297+dependabot-preview[bot]@users.noreply.github.com>
dependabot[bot] <dependabot[bot]@users.noreply.github.com> <49699333+dependabot[bot]@users.noreply.github.com>
dependabot[bot] <dependabot[bot]@users.noreply.github.com> <support@dependabot.com>
imgbot[bot] <imgbot[bot]@users.noreply.github.com> <31301654+imgbot[bot]@users.noreply.github.com>
imgbot[bot] <imgbot[bot]@users.noreply.github.com> <ImgBotHelp@gmail.com>
marihachi <marihachi0620@gmail.com>
mei23 <m@m544.net> <30769358+mei23@users.noreply.github.com>
nullobsi <me@nullob.si>
otofune <otofune@gmail.com> <otofune@users.noreply.github.com>
syuilo <syuilotan@yahoo.co.jp> <Syuilotan@yahoo.co.jp>
xianon <xianon@hotmail.co.jp>
